
.wraper{
    display: flex;
    background: #FFFFFF;
    /* margin: 10%; */
    justify-content: space-between;
  
}
.left{
    margin: 10%;
    position: relative;
}
.code{
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 300px;

}
.flo{
    border-radius: 10px;
    border: 1px solid #fff;
    position: absolute; 
    width: 150px;
    left:-50px;
    top:-100px;
}
.food{
    border-radius: 10px;
    border: 1px solid #fff;
    position: absolute; 
    width: 150px;
    left:200px;
    top:250px; 
}

.right{
    width: 50%;
}
.about{
    color: #481F72;
    font-weight: 700;
    font-size: 45px;
    margin-left: 50%;
}
.para{
    width:500px;
    font-size: 30px;
    font-weight: 500;
    color: #481F72;
}
.para2{
    width:500px;
    font-size: 18px;
    font-weight: 400;
    color: #481F72;
}
.btn{
    background: #481F72;
    color: #fff;
    border-radius: 20px;
    border:1px solid #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 70%;  
    
}
.Us{
    background:#F2F2F2;

}
.whyUs{
    color: #481F72;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
 .study{
    display: flex;
    justify-content: space-around;
 }
 .content{
    width: 40%;
    margin-top: 10%;
 }
.studyhead{
color: #481F72;
font-size: 25px;
font-weight: 600;
}
.studyimg{
    width: 300px;
    padding: 40px;
    /* margin-bottom: 20%; */
}

.studyp{
    color: #481F72;
    font-size: 20px;
    font-weight: 400;
}

@media(max-width:768px){
    .wraper{
        flex-direction: column;
        width:100%;
        margin: 0px;
    }
    .code{
        border-radius: 10px;
        border: none;
        width: 500px;
        height: 300px;
    }
    .flo{ 
        left:40px;
        top:-70px;
    }

    .food{
        left:300px;
        top:250px; 
    }
    .about{
        /* margin-top: 50px; */
        margin-left: 0;
        padding: 0;

    }
    .right{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px;
        /* justify-content: center; */
        /* align-items: center; */
    }
   .btn{
    margin-left: 0;
    width:20%;
    /* align-items: flex-start; */
   }
}

@media(max-width:600px){
    .code{
        width: 100%;
    } 
    .flo{ 
        display: none;
    }
    .food{
        display: none;
    }
    .right{
        width:100%;
    }
    .para2{
        width:80%;
        font-size: 15px;
    }
    .para{
        width:80%;
        font-size: 18px;
       
    }
    .btn{
        width: 50%;
    }
    .study{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .content{
        width: 100%;
        padding: 10px;
     
}
.studyp{
    width: 80%;
}
.studyimg{
    width: 80%;
 
}
}