.wrapper{
    background: linear-gradient(109.07deg, #2E1583 16.88%, #C24AEC 79.15%);
    margin: 10px;
    /* position: relative; */
}
.head{
    display: flex;
    justify-content: space-between; 
    margin: 2rem;
    
}
.left{
    color:white;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}
.leftspan{        
    background: white;
    color: #2E1583;
    padding: 2px;
    font-weight: 700;
}
.right{
    color: white;
    padding: 20px;
}
.right a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    
}
.log{
    border: 2px solid white;
    border-radius: 30px;
    padding:  20px;   
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn{
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}
.bottomRight{
margin: 2rem;
width: 50%;
}
.bottomRight h1{
    font-size: 60px;
    font-weight: 700;
    color: #ffff; 	
}
.span{
    color: #00FFE0;
}
.bottomRight p{

    font-size: 20px;
    text-align: justify;
    color: #ffffff;
}
.nav-btn{
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
   
}
.img{
    width: 50%;
    display: flex;
    flex-direction: column;
}
img{
   
    /* border-radius: 50%;
    border: 3px solid #fff; */
    
}
.cat{
    position: absolute;
    left: 900px;
     top: 80px; 
     width: 250px;
     border-radius: 50%;
     border: 3px solid #fff;
}
.brick{
    position: absolute;
    left: 750px;
    top: 380px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #fff;
   
}
.code{
    position: absolute;
    left: 750px;
    top: 220px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.fas{
    position: absolute;
    left: 980px;
    top: 406.3px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
} 

@media(max-width:768px){
    .right{
        display: none;
    } 
    
    .bottom{
        display: block;
    }
    .btn{
margin-bottom: 10px;
    }
    .img{
        display: none;
    }
    .cat{
        position: static;
        left: 0px;
         top: 0px; 
         width: 250px;
    }
    .brick{
        position: static;
        left: 0px;
        top: 0px;
        width: 180px;
       
    }
    .code{
        position: static;
        left: 0px;
        top: 0px;
        width: 80px;
    }
    .fas{
        position: static;
        left:0px;
        top: 0px;
        width: 150px;
    } 
}
@media(max-width:600px){
    .bottomRight{
        width: 100%;
    }
    .bottomRight h1{
        width: 70%;
        font-size: 30px;
    }
    .bottomRight p{
       font-size: 15px;
       width: 80%;

    }
}
