.wrapper{
    background: linear-gradient(109.07deg, #2E1583 16.88%, #C24AEC 79.15%);
    /* margin: 10px; */
    max-width: 100%;
    position: relative;
}
.head{
    display: flex;
    justify-content: space-between; 
    /* margin: 2rem;     */
}

.left{
    color:white;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}

.leftspan{        
    background: white;
    color: #2E1583;
    padding: 2px;
    font-weight: 700;
}

.right{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
}
    #rightNav{
     display: flex;
     align-items: center;
     gap: 25px;
    }
    .link{
        text-decoration: none;
        color: #ffffff; 
    }
    Link.active{
        text-decoration: none;
        color: red;
    }
  
    Link{
        text-decoration: none;
    }
.item {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
  }

.log{
    border: 2px solid white;
    border-radius: 30px;
    padding:5px  20px 5px 20px;   
}
#mobile {
    display: none;
  }
  
.showonsmscreen{
    display: none;
    width: 100%;
}
.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.btn{
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;    
}
.bottomRight{
margin: 2rem;
width: 50%;
}
.bottomRight h1{
    font-size: 60px;
    font-weight: 700;
    color: #ffff; 	
}
.span{
    color: #00FFE0;
}
.bottomRight p{

    font-size: 20px;
    text-align: justify;
    color: #ffffff;
}
.nav-btn{
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
   
}
.img{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cat{
    position: absolute;
    left: 900px;
     top: 80px; 
     width: 230px;
     border-radius: 50%;
     border: 3px solid #fff;
}
.brick{
    position: absolute;
    left: 700px;
    top: 320px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #fff;  
}

.code{
    position: absolute;
    left: 700px;
    top: 100px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.fas{
    position: absolute;
    left: 980px;
    top: 350px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
} 

@media(max-width:1024px){
    
    .cat{
       
         left: 600px; 
          top: 200px; 
          width: 250px;
          justify-content: center;
    }
    .brick{
        display: none;   
    }
    .code{
        display: none;
        left: 450px; 
        top: 200px; 
        width: 80px;
    }
    .fas{

        display: none;
    } 

}
@media(max-width:768px){
    .wrapper{
        height: 100vh;
    }
    .showonlgscreen{
        display: block;
    }
    .showonsmscreen{
    display: none;
}   

      #rightNav.active {
        right: 0px;

      }
    
      #mobile {
        display: flex;
       justify-content: flex-end;
      /* background-color: red; */
      width: 40vw;
   
      }

      #mobile i {
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;
        /* position: absolute; */
        top: 10px;
        

      }

    .bottom{
        display: block;
    }
   
    .img{
        display: block;
    }
    .cat{
         left: 450px; 
          top: 300px; 
          width: 250px;
          justify-content: center;
    }
    .brick{
        display: none;
    }
    .code{
        display: none;
        left: 450px; 
        top: 200px; 
        width: 80px;
    }
    .fas{

        display: none;
        /* position: static;
        left:0px;
        top: 0px;
        width: 150px; */
    } 
}
@media(max-width:600px){
    .showonlgscreen{
        display: none;
    }
    .showonsmscreen{
    display: block;
}   
    .right{
        display: block;
        position:fixed;
        z-index: 10;
    } 

     #rightNav {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px;
        margin-right: 40px; 
         width: 100px;
         height: 40vh;
        background-color:  #481F72;
        box-shadow: 0 20px 30px #2E1583 ;
        z-index: 10;    /*  ensures the div always displays over other element & not behind them  */ 
      }

      #rightNav.active {
        right: 0px;

      }
    
      #mobile {
        display: flex;
       justify-content: flex-end;
   
      width: 40vw;
   
      }

      #mobile i {
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;
        top: 10px;
        

      }
  
    .bottomRight{
        width: 100%;
    }
    .bottomRight h1{
        width: 70%;
        font-size: 30px;
    }
    .bottomRight p{
       font-size: 15px;
       width: 80%;  
       margin-bottom: 40px;
    }
    .btn{
        margin-top: 20px;
    }
    .cat{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        left: 80px;
        top:420px;
      
    }
}
