.top {
    background: #481F72;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.left {
    color: white;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    flex: 1;
}

.leftspan {
    background: white;
    color: #2E1583;
    padding: 2px;
    font-weight: 700;
}

.right {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.about {
    font-size: 20px;
    align-items: center;
    margin-left: 40px;
}

.volunteer {
    margin-left: 30px;
}

.support {
    font-size: 20px;
    align-items: center;
    margin-left: 40px;
}

.list {
    list-style: none;

}

.listItems {
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    line-height: 30px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.bottomLeft {
    color: #2E1583;
    padding: 10px;
    font-weight: 800;
    font-size: 16px;

}

.bottomSpan {
    background: #2E1583;
    color: white;
    padding: 2px;
    font-weight: 500;
}


@media(max-width:600px) {
    .top {
        width: 100%;
    }

    .right {
        max-width: 77%;
        flex: 0;
        margin-left: 0;
    }

    .support {
        width: 30px;
        margin-right: 20px;
    }

    .bottom {
        margin-left: 30px;
        gap: 0;
    }
}